In [1]:
import pandas as pd 
import numpy as np
import math

df = pd.read_csv('https://raw.githubusercontent.com/AugustLONG/ML01/master/01decisiontree/AllElectronics.csv')
df.drop("RID",axis=1, inplace = True) #RID는 그냥 Index라서 삭제

In [2]:
df

            age  income student credit_rating class_buys_computer
0         youth    high      no          fair                  no
1         youth    high      no     excellent                  no
2   middle_aged    high      no          fair                 yes
3        senior  medium      no          fair                 yes
4        senior     low     yes          fair                 yes
5        senior     low     yes     excellent                  no
6   middle_aged     low     yes     excellent                 yes
7         youth  medium      no          fair                  no
8         youth     low     yes          fair                 yes
9        senior  medium     yes          fair                 yes
10        youth  medium     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes
13       senior  medium      no     excellent                  no

## 함수 만들기

In [12]:
def getEntropy(df, feature) :

    target_class = list(df[feature].unique())
    target_yes = len(df[df[feature]==target_class[0]])
    target_no = len(df[df[feature]!=target_class[0]])
    p = target_yes/len(df) 
    total_Ent = -p*np.log2(p)-(1-p)*np.log2(1-p)
    entropy = total_Ent
    
    return(entropy)

In [4]:
# 좋은 방법 
def entropy(df,feature):
    elements,counts = np.unique(df[feature],return_counts = True)
    entropy = np.sum([(-counts[i]/np.sum(counts))*np.log2(counts[i]/np.sum(counts)) for i in range(len(elements))])
    return entropy

In [10]:
entropy(df,"class_buys_computer")

0.9402859586706311

In [13]:
getEntropy(df, "class_buys_computer")

0.9402859586706311

In [21]:
# 혜빈님 우수코드 참고 수정

def getGainA(df,feature="class") :
    info_D = entropy(df,feature) # 목표변수 Feature에 대한 Info(Entropy)를 구한다.
    columns = list(df.loc[:,df.columns != feature]) # 목표변수를 제외한 나머지 설명변수들을 리스트 형태로 저장한다.
    
    gains=[]     # gains 라는 빈 리스트 생성
    for i in columns:
        info_Di = 0
        unique = list(df[i].unique())     # unique 합수로 df데이터의 변수별 클래스들을 받음
        
        for j in range(len(unique)):
            new = df.loc[df[i]==unique[j]]
            # new라는 값을 for문 반복으로 만드는 것이 포인트
            # 해당 값을 가지는 row들만 뽑아낸 new변수
            info_Di += (len(new[i])/len(df[i]))*(getEntropy(new,feature))      
            # entropy 함수 사용해서 각각의 entropy 구하고 확률에 곱합
        gain = info_D -info_Di     # ID3공식대로 얻은 정보량
        gains.append(gain)     # 최종 얻은 정보량 값 gain을 gains리스트에 저장
       
     
    result = dict(zip(columns,gains)) # 각 변수에 대한 Information Gain 을 Dictionary 형태로 저장한다.
    return(result)

In [22]:
getGainA(df,"class_buys_computer")

C:\Users\jinji\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in log2
  import sys
C:\Users\jinji\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in double_scalars
  import sys

{'age': nan,
 'income': 0.02922256565895487,
 'student': 0.15183550136234159,
 'credit_rating': 0.04812703040826949}

## 결과 확인하기

In [24]:
my_dict = getGainA(df, "class_buys_computer")
def f1(x):
    return my_dict[x]
key_max = max(my_dict.keys(), key=f1)
print('정보 획득이 가장 높은 변수는',key_max, "이며 정보 획득량은", my_dict[key_max], "이다.")

정보 획득이 가장 높은 변수는 age 이며 정보 획득량은 nan 이다.

C:\Users\jinji\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in log2
  import sys
C:\Users\jinji\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in double_scalars
  import sys

결과가 non이 나옵니다..!!!